<h1 class="page-header">Overview of Kayako status</h1>

<h2>Coordinates of center X={{centerx}} , Y={{centery}} </h2>

<div class="row placeholders">
	<div class="col-xs-8 col-sm-4 placeholder">
		
		<canvas id="doughnut1" width="360" height="360"></canvas>
		
	  <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> -->
	  <h4>Label</h4>
	  <span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-8 col-sm-4 placeholder">
	  <canvas id="piechart1" width="360" height="360"></canvas>
	  <h4>Label</h4>
	  <span class="text-muted">Something else</span>
	</div>
	<div class="col-xs-8 col-sm-4 placeholder">
	  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
	  <h4>Label</h4>
	  <span class="text-muted">Something else</span>
	</div>
	<!--<div class="col-xs-6 col-sm-3 placeholder">
	  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
	  <h4>Label</h4>
	  <span class="text-muted">Something else</span>
	</div> -->
</div>